.Logo{
    display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    img {
        height: 2rem;
    }

    label {          
        height: auto;
        font-weight: 900;    
        font-size: 1.5rem;    
    }
    
}